#gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
}

#cardRow {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  height: 90px;
  width: 60px;
  margin: 10px;
  border: 2px solid black;
}

#gameButtonRow {
  margin-top: 40px;
}
