#gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;

  #heldRow,
  #cardRow {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  #heldRow {
    min-height: 30px;
  }

  .holdContainer,
  .cardContainer {
    width: 130px;
    text-align: center;
  }

  .cardContainer {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .faceDown,
  .faceUp {
    height: 190px;
    width: 130px;
    margin: 10px;
    border: 2px solid black;
  }

  .faceDown {
    background-color: blue;

    .faceDown .topLeft,
    .faceDown .cardSuit {
      display: none;
    }

    #gameButtonRow {
      margin-top: 40px;
    }
  }

}
