body {
  background-color: darkgreen;

  #gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 50px 20px;
    box-sizing: border-box;
    justify-content: center;

    #payTable {
      background-color: darkblue;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 3px solid black;
      border-radius: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: yellow;

      &.bet1 {
        .payOne {
          background-color: darkred;
        }
      }

      &.bet2 {
        .payTwo {
          background-color: darkred;
        }
      }

      &.bet3 {
        .payThree {
          background-color: darkred;
        }
      }

      &.bet4 {
        .payFour {
          background-color: darkred;
        }
      }

      &.bet5 {
        .payFive {
          background-color: darkred;
        }
      }

      .payRow {
        display: flex;
        justify-content: center;
        width: 100%;

        .payRowCol {
          width: 15%;
          text-align: right;
          padding: 0 5px;
          border-left: 1px solid black;

          &.payRowLabel {
            width: 20%;
            border: 0;
            text-align: left;
          }
        }
      }
    }

    #heldRow,
    #cardRow {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    #heldRow {
      margin-top: 20px;
      min-height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #fff;
    }

    #cardRow {
      margin-top: -10px;
    }

    .holdContainer,
    .cardContainer {
      width: 130px;
      text-align: center;
    }

    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }

    .card {
      position: relative;
      height: 190px;
      width: 130px;
      margin: 0 10px 10px;
      border: 2px solid black;
      border-radius: 10px;

      &.FaceDown {
        background-color: blue;
        background-image: url('https://bdenzer.com/projects/videopoker/images/cardback.png');

        .topLeft,
        .cardSuit,
        .bottomRight {
          display: none;
        }
      }

      &.FaceUp {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        .topLeft,
        .bottomRight {
          position: absolute;
          font-size: 45px;
          font-family: Arial, Helvetica, sans-serif;
        }

        .topLeft {
          top: 0;
          left: 10px;
        }

        .bottomRight {
          bottom: 0;
          right: 10px;
        }

        .cardSuit {
          height: 50px;
          width: auto;
          font-size: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.held {
          background-color: lightskyblue;
        }
      }
    }

    #gameStatusRow {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 28px;
      color: #ccc;

      #currentTotal {
        position: absolute;
        right: 0;
      }
    }

    #gameButtonRow {
      margin-top: 40px;
    }
  }
}
